<%- include('../includes/head') %>
    </head>

    <body>
        <%- include('../includes/navigation') %>
        <main>
            <h3>This is the orders page!</h3>
        </main>
<%- include('../includes/end') %>